

:root{
    --desktopBackground:rgb(32, 4, 65);
}
body{
    display: block;
    background: var(--desktopBackground);
    justify-content:center;
}
#background{
    color: rgb(244, 241, 241);
    background: rgb(252, 252, 253);
    width: 400px;
    min-height: 230px;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20px;
    display: -ms-grid ;
    display: grid ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
}
h4{
    color: black;
    border-bottom: 1px solid;
    border-color: var(--desktopBackground);
    height: 20px;
    margin:0 auto 10px auto;
    text-align: center;
    
}
#first{
    position: relative;
    width: 300px;
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: center;
        justify-self: center;
}
#dolaramrolabel{
    color: var(--desktopBackground);
}
#dolaramro{
    position: relative;
    border-radius:10px ;
    margin-right: 15px;
    width: 100px;
    text-align: center;
}
#second{
    display: flex;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#dolarlabel{
    color: var(--desktopBackground);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
#dolarinput{
    position: relative;
    border-radius:10px ;
    margin-right: 15px;
    width: 100px;
    text-align: center;
}
#third{
    display: flex;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
}
#dinnarinput{
    position: relative;
    border-radius:10px ;
    margin-right: 15px;
    width: 100px;
    text-align: center;
}
#dinnarlabel{
    color: var(--desktopBackground);
}
#final{
    margin-top: 10px;
    width: 200px;
    display: flex;
}
#anjambtn{
    color: red;
    min-height: 30px;
    max-height: 35px;
    padding: 5px;
    width: 80px;
    font-size: 20px;
    border: none;
    background-color: var(--desktopBackground);
    color: aliceblue;
    margin-left: auto;
    margin-top: 6px;
    -webkit-box-shadow: 0px 0px 20px 2px rgb(8, 8, 67);
            box-shadow: 0px 0px 20px 2px rgb(8, 8, 67);
    border-radius:15px ;
}
#anjambtn:hover{
    color: rgb(23, 1, 1);
    background: rgb(95, 102, 226);
    -webkit-box-shadow: none;
            box-shadow: none;
}
#here{
    color: var(--desktopBackground);
    min-height: 30px;
    width: 100px;
    overflow: hidden;
    font-size: 13px;
}
ul{
    direction: rtl;
    list-style-type:decimal;
    display: block;
    color: red;
    border: 1px solid red;
    border-radius:6px;
    text-align:right;
}
i{
    color: red;
    margin-left: auto;
    margin-right:auto;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    scale: 1.2;
    animation: ico 1s infinite;
    position:relative ;
    margin-bottom:20px;
}
@keyframes ico{
    0%{ scale: 1.2;}
    50%{scale: 1.4;}
    100%{scale:1.2;}
}
h2{
    color:black;
    text-align:center;
}
#buttonnext{
    margin:0 auto;
    height:20px;
    width:60px;
}
@media only screen and (max-width : 600px) {
    body{
        margin: 0%;
        background: rgb(155, 230, 155);
    }
    #background{
        color: rgb(244, 241, 241);
        background: rgb(252, 252, 253);
        width: 350px;
        min-height: 230px;
        margin-left:auto ;
        margin-right: auto;
        margin-top: 10px;
        border-radius: 20px;
        display: -ms-grid ;
        display: grid ;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        justify-items: center;
    }
    h4{
        color: black;
        border-bottom: 1px solid red;
        height: 20px;
        text-align: center;
    }
    #first{
        position: relative;
        width: 300px;
        height: 20px;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #dolaramro{
        position: relative;
        border-radius:10px ;
        margin-right: 15px;
        width: 100px;
        text-align: center;
    }
    #second{
        display: flex;
        margin-top: 10px;
        height: 20px;
        width: 200px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #dolarlabel{
        color: var(--desktopBackground);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    #dolarinput{
        position: relative;
        border-radius:10px ;
        margin-right: 15px;
        width: 100px;
        text-align: center;
    }
    #third{
        display: flex;
        margin-top: 10px;
        height: 20px;
        width: 200px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; 
    }
    #dinnarinput{
        position: relative;
        border-radius:10px ;
        margin-right: 15px;
        width: 100px;
        text-align: center;
    }
    #anjambtn{
        color: red;
        width: 70px;
        font-size: 10px;
    }
}
